// styles/_theme.scss

@import "./_variables";
@import "./_fonts";
@import "./_mixins";

// Default light theme
:root {
  @each $key, $value in $dark-theme {
    --#{$key}: #{$value};
  }
}

// Dark theme
[data-theme="light"] {
  @each $key, $value in $light-theme {
    --#{$key}: #{$value};
  }
}

// Using theme variables throughout your app
body {
  background-color: theme-var(color-background);
  color: theme-var(color-text);
  font-family: $font-family-primary;
  font-size: $font-size-md;
  font-weight: $font-weight-regular;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.header {
  color: theme-var(primary-color);
  border-bottom: 1px solid theme-var(secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
}
a {
  text-decoration: none;
  background-color: theme-var(color-background);
  color: theme-var(color-text);
}

p {
  margin: $spacing-md 0;
  background-color: theme-var(color-background);
  color: theme-var(color-text);
}

path {
  stroke: theme-var(color-text);
}
