// styles/_theme.scss

@use "_variables";
@use "_fonts";
@use "_mixins";

// Default light theme
:root {
  @each $key, $value in variables.$dark-theme {
    --#{$key}: #{$value};
  }
}

// Dark theme
[data-theme="light"] {
  @each $key, $value in variables.$light-theme {
    --#{$key}: #{$value};
  }
}

// Using theme variables throughout your app
body {
  background-color: mixins.theme-var(color-background);
  color: mixins.theme-var(color-text);
  font-family: variables.$font-family-primary;
  font-size: variables.$font-size-md;
  font-weight: variables.$font-weight-regular;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.header {
  color: mixins.theme-var(primary-color);
  border-bottom: 1px solid mixins.theme-var(secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: variables.$font-weight-bold;
}
a {
  text-decoration: none;
  background-color: mixins.theme-var(color-background);
  color: mixins.theme-var(color-text);
}

p {
  margin: variables.$spacing-md 0;
  background-color: mixins.theme-var(color-background);
  color: mixins.theme-var(color-text);
}

path {
  stroke: mixins.theme-var(color-text);
}
